.checkbox {
    display: flex;
    align-items: center;

    label {
        font-family: "Source Sans 3", sans-serif;
        color: var(--text-color);
    }

    input {
        display: flex;
        align-items: center;
        justify-content: center;
        appearance: none;
        width: 18px;
        height: 18px;
        margin-right: 8px;
        background: var(--bg-color);
        border: 2px solid rgb(var(--auth-secondary-rgb));
        border-radius: 5px;
        cursor: pointer;
        transition: all ease-in-out 0.15s;

        &:checked::after {
            background: rgb(var(--auth-secondary-rgb));
            content: "";
            width: 50%;
            height: 50%;
            color: white;
            font-weight: 900;
            border-radius: 1px;
        }
    }
}
