.button {
    padding: 10px 20px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    color: rgb(var(--color-white-rgb));
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &--primary {
        background: rgb(var(--auth-primary-rgb));

        &:hover {
            background: rgb(var(--auth-primary-hover-rgb));
        }
    }

    &--secondary {
        background: rgb(var(--auth-secondary-rgb));
        color: rgb(var(--color-text-rgb));

        &:hover {
            background: rgb(var(--auth-secondary-hover-rgb));
        }
    }
}