@use "@sass/variables/colors" as colors;

.link {
    color: colors.$blue-100;
    cursor: pointer;
    transition: all ease-in-out 0.2s;

    &:hover {
        text-decoration: underline;
        color: colors.$blue-80;
    }

    &:focus-visible {
        outline: 2px solid rgba(colors.$blue-100-rgb, 0.4);
        outline-offset: 2px;
    }
}
