@use "@sass/mixins/media" as media;

.l1-r {
    
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;

    @include media.tablet {
        font-size: 14px;
    }
}

.l1-b {
    
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;

    @include media.tablet {
        font-size: 14px;
    }
}

.l2-r {
    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;

    @include media.tablet {
        font-size: 13px;
    }
}

.l2-b {
    
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;

    @include media.tablet {
        font-size: 13px;
    }
}

.l3-r {
    
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;

    @include media.tablet {
        font-size: 12px;
    }
}

.l3-b {
    
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;

    @include media.tablet {
        font-size: 12px;
    }
}
