@use "@sass/mixins/media" as media;

// Note the 'p' tags will default to p1-r styles
.p1-r {
    
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    @include media.tablet {
        font-size: 14px;
    }
}

.p1-b {
    
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

    @include media.tablet {
        font-size: 14px;
    }
}

.p2-r {
    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    @include media.tablet {
        font-size: 13px;
    }
}

.p2-b {
    
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

    @include media.tablet {
        font-size: 13px;
    }
}

.p3-r {
    
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    @include media.tablet {
        font-size: 12px;
    }
}

.p3-b {
    
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

    @include media.tablet {
        font-size: 12px;
    }
}
