.fullscreen-centered-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    padding: clamp(18px, 4vw, 32px);
    background: rgb(var(--color-background-rgb));

    &__content {
        width: min(620px, 100%);
    }
}
