$black-rgb: 0, 0, 0;
$white-rgb: 255, 255, 255;

$gray-100-rgb: 243, 244, 246;
$gray-200-rgb: 229, 231, 235;
$gray-300-rgb: 209, 213, 219;
$gray-800-rgb: 31, 41, 55;
$gray-900-rgb: 17, 24, 39;

$blue-400-rgb: 96, 165, 250;
$blue-500-rgb: 59, 130, 246;
$blue-600-rgb: 37, 99, 235;

$red-400-rgb: 248, 113, 113;
$red-500-rgb: 239, 68, 68;
$red-600-rgb: 220, 38, 38;

$green-500-rgb: 34, 197, 94;
$yellow-500-rgb: 234, 179, 8;
$magenta-500-rgb: 217, 70, 239;
$cyan-500-rgb: 6, 182, 212;

@mixin register-color-palettes {
    :root {
        --color-black-rgb: #{$black-rgb};
        --color-white-rgb: #{$white-rgb};
        --color-background-rgb: #{$gray-100-rgb};
        --color-text-rgb: #{$gray-900-rgb};

        --color-primary-100-rgb: #{$blue-500-rgb};
        --color-primary-80-rgb: #{$blue-600-rgb};
        --color-primary-60-rgb: #{$blue-600-rgb};

        --color-secondary-100-rgb: #{$gray-200-rgb};
        --color-secondary-80-rgb: #{$gray-300-rgb};
        --color-secondary-60-rgb: #{$gray-300-rgb};

        --color-red-100-rgb: #{$red-500-rgb};
        --color-red-80-rgb: #{$red-600-rgb};
        --color-red-60-rgb: #{$red-600-rgb};

        --color-green-100-rgb: #{$green-500-rgb};
        --color-green-80-rgb: #{$green-500-rgb};
        --color-green-60-rgb: #{$green-500-rgb};

        --color-yellow-100-rgb: #{$yellow-500-rgb};
        --color-yellow-80-rgb: #{$yellow-500-rgb};
        --color-yellow-60-rgb: #{$yellow-500-rgb};

        --color-blue-100-rgb: #{$blue-500-rgb};
        --color-blue-80-rgb: #{$blue-600-rgb};
        --color-blue-60-rgb: #{$blue-600-rgb};

        --color-magenta-100-rgb: #{$magenta-500-rgb};
        --color-magenta-80-rgb: #{$magenta-500-rgb};
        --color-magenta-60-rgb: #{$magenta-500-rgb};

        --color-cyan-100-rgb: #{$cyan-500-rgb};
        --color-cyan-80-rgb: #{$cyan-500-rgb};
        --color-cyan-60-rgb: #{$cyan-500-rgb};
    }

    [data-theme="dark"] {
        --color-background-rgb: #{$gray-900-rgb};
        --color-text-rgb: #{$gray-100-rgb};

        --color-primary-100-rgb: #{$blue-500-rgb};
        --color-primary-80-rgb: #{$blue-400-rgb};
        --color-primary-60-rgb: #{$blue-400-rgb};

        --color-secondary-100-rgb: #{$gray-800-rgb};
        --color-secondary-80-rgb: #{$gray-800-rgb};
        --color-secondary-60-rgb: #{$gray-800-rgb};

        --color-red-100-rgb: #{$red-400-rgb};
        --color-red-80-rgb: #{$red-400-rgb};
        --color-red-60-rgb: #{$red-400-rgb};
    }
}

$black-rgb: var(--color-black-rgb);
$white-rgb: var(--color-white-rgb);
$background-rgb: var(--color-background-rgb);
$text-rgb: var(--color-text-rgb);

$primary-100-rgb: var(--color-primary-100-rgb);
$primary-80-rgb: var(--color-primary-80-rgb);
$primary-60-rgb: var(--color-primary-60-rgb);

$secondary-100-rgb: var(--color-secondary-100-rgb);
$secondary-80-rgb: var(--color-secondary-80-rgb);
$secondary-60-rgb: var(--color-secondary-60-rgb);

$green-100-rgb: var(--color-green-100-rgb);
$green-80-rgb: var(--color-green-80-rgb);
$green-60-rgb: var(--color-green-60-rgb);

$red-100-rgb: var(--color-red-100-rgb);
$red-80-rgb: var(--color-red-80-rgb);
$red-60-rgb: var(--color-red-60-rgb);

$yellow-100-rgb: var(--color-yellow-100-rgb);
$yellow-80-rgb: var(--color-yellow-80-rgb);
$yellow-60-rgb: var(--color-yellow-60-rgb);

$blue-100-rgb: var(--color-blue-100-rgb);
$blue-80-rgb: var(--color-blue-80-rgb);
$blue-60-rgb: var(--color-blue-60-rgb);

$magenta-100-rgb: var(--color-magenta-100-rgb);
$magenta-80-rgb: var(--color-magenta-80-rgb);
$magenta-60-rgb: var(--color-magenta-60-rgb);

$cyan-100-rgb: var(--color-cyan-100-rgb);
$cyan-80-rgb: var(--color-cyan-80-rgb);
$cyan-60-rgb: var(--color-cyan-60-rgb);


$black: rgb(var(--color-black-rgb));
$white: rgb(var(--color-white-rgb));

$background: rgb(var(--color-background-rgb));
$text: rgb(var(--color-text-rgb));

$primary-100: rgb(var(--color-primary-100-rgb));
$primary-80: rgb(var(--color-primary-80-rgb));
$primary-60: rgb(var(--color-primary-60-rgb));

$secondary-100: rgb(var(--color-secondary-100-rgb));
$secondary-80: rgb(var(--color-secondary-80-rgb));
$secondary-60: rgb(var(--color-secondary-60-rgb));

$green-100: rgb(var(--color-green-100-rgb));
$green-80: rgb(var(--color-green-80-rgb));
$green-60: rgb(var(--color-green-60-rgb));

$red-100: rgb(var(--color-red-100-rgb));
$red-80: rgb(var(--color-red-80-rgb));
$red-60: rgb(var(--color-red-60-rgb));

$yellow-100: rgb(var(--color-yellow-100-rgb));
$yellow-80: rgb(var(--color-yellow-80-rgb));
$yellow-60: rgb(var(--color-yellow-60-rgb));

$blue-100: rgb(var(--color-blue-100-rgb));
$blue-80: rgb(var(--color-blue-80-rgb));
$blue-60: rgb(var(--color-blue-60-rgb));

$magenta-100: rgb(var(--color-magenta-100-rgb));
$magenta-80: rgb(var(--color-magenta-80-rgb));
$magenta-60: rgb(var(--color-magenta-60-rgb));

$cyan-100: rgb(var(--color-cyan-100-rgb));
$cyan-80: rgb(var(--color-cyan-80-rgb));
$cyan-60: rgb(var(--color-cyan-60-rgb));